<div>
    {{#each users}}
        <li>
            <strong>Nombre: </strong>{{this.first_name}} - 
            <strong>Apellido:  </strong>{{this.last_name}} - 
            <strong>Eamil: </strong>{{this.email}}
        </li>
    {{/each}}

    <center>
        {{#if hasPrevPage}}
            <a href="/api/usuarios?page={{prevPage}}"><button>anterior</button></a>
        {{/if}}

        {{#if hasNextPage}}
            <a href="/api/usuarios?page={{nextPage}}"><button>Siguiente</button></a>
        {{/if}}
    </center>
</div>